* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(39, 39, 39);

}

#main-cont {
    background-color: rgb(39, 39, 39);
    color: aliceblue;
    display: flex;
    justify-content: start;
    align-items: center;
    position: relative;
    z-index: 2;
    margin-left: 1rem;
    margin-top: 10rem;
}

nav {
    background-color: rgba(39, 39, 39, 0.37);
}

.collapse {
    background-color: transparent;
}

.nav-link {
    background-color: rgba(39, 39, 39, 0);
}

#calendar {
    position: absolute;
    left: 20rem;
    margin-left: 30rem;
    width: 88rem;
    height: 70rem;
    margin: 20px;
    box-shadow: 0 0.5rem 3rem rgba(0, 0, 0, 4);
    display: inline;
}

.month {
    color: white;
    background-color: rgb(22, 99, 243);
    height: 7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Oswald";
    text-align: center;
    text-shadow: 0 0.4rem 0.7rem rgba(0, 0, 0, 1);
}


.month h1 {
    margin: 1rem auto;
    background-color: rgb(22, 99, 243);
    font-size: 3rem;
    margin: 0;
}


.month p {
    font-size: 1.5rem;
    background-color: rgb(22, 99, 243);
    margin: 0;
}

.weekdays {
    width: 100%;
    height: 5rem;
    display: flex;
    padding: 0 0.4rem;
    align-items: center;
}

.weekdays div {
    letter-spacing: 0.1rem;
    font-size: 2.5rem;
    font-weight: 400;
    width: calc(84.2rem / 7);
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 0 0.3rem 0.5rem rgba(27, 27, 27, 0.836);
}

.days {
    width: 100%;
    height: 2rem;
    display: flex;
    flex-wrap: wrap;
    padding: 0.2rem;
}


.days div {
    display: block;
    font-size: 1.5rem;
    margin: 0.3rem;
    width: calc(80.2rem / 7);
    /* display: flex; */
    text-align: center;
    height: 10rem;
    position: relative;
    /* display: inline-block; */
}


.txtb,
.txtb1,
.txtb2,
.txtb3,
.txtb4,
.txtb5,
.txtb6,
.txtb7,
.txtb8,
.txtb9,
.txtb10,
.txtb11,
.txtb12,
.txtb13,
.txtb14,
.txtb15,
.txtb16,
.txtb17,
.txtb18,
.txtb19,
.txtb20,
.txtb21,
.txtb22,
.txtb23,
.txtb24,
.txtb25,
.txtb27,
.txtb26,
.txtb28,
.txtb29,
.txtb30,
.txtb31 {
    width: 100%;
    margin-top: 1rem;
    /* position: absolute; */
    display: block;
    height: 1rem;
    top: 2rem;
    background-color: transparent;
    border: none;
    outline: none;
    text-align: center;
    border-bottom: 2px solid white;
    font-size: 1rem;
    color: white;
}

h3 {
    font-size: 1rem;
    font-family: "Oswald";
}


.task i,
.task1 i {
    float: right;
    margin: 5px;
    cursor: pointer;
}



.cards-div {
    margin-left: 21rem;
    position: absolute;
    z-index: 1;
    top: 80rem;
    margin-bottom: 5rem;
    text-align: center;
    background-color: rgb(22, 99, 243);
}

.card h4 {
    background-color: rgb(31, 31, 31);
}

.name-index {
    position: absolute;
    top: 110rem;
    left: 45rem;
    margin-bottom: 5rem;
    z-index: 1;
    cursor: pointer;
}

.name-index h3 {
    background: linear-gradient(90deg, rgba(27, 27, 27, 0.048), rgba(31, 31, 31, 0.24), rgba(31, 31, 31, 0.582),
            rgb(46, 46, 46), rgba(31, 31, 31, 0.582), rgb(31, 31, 31), rgba(31, 31, 31, 0.048));
    padding: 1.5rem 20rem;
}

.name-index1 {
    position: absolute;
    top: 110rem;
    left: 67rem;
    margin-bottom: 10rem;
}


.name-index:hover {
    transform: translateY(-6rem);
    transition: all 1s ease-in-out;
}
